[build]
  command = "pnpm -C apps/client build"
  publish = "apps/client/dist"

[build.environment]
  NODE_VERSION = "20"
  PNPM_VERSION = "8.6.12"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.html"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"
